@use '../abstracts/variables' as vars;

.text-primary {
  color: vars.$primary;
}

.text-secondary {
  color: vars.$secondary;
}

.text-success {
  color: vars.$success;
}

.text-warning {
  color: vars.$warning;
}

.text-error {
  color: vars.$error;
}

.text-info {
  color: vars.$info;
}

.text-white {
  color: vars.$white;
}

.text-black {
  color: vars.$black;
}

.text-gray-50 {
  color: vars.$gray-50;
}

.text-gray-100 {
  color: vars.$gray-100;
}

.text-gray-200 {
  color: vars.$gray-200;
}

.text-gray-300 {
  color: vars.$gray-300;
}

.text-gray-400 {
  color: vars.$gray-400;
}

.text-gray-500 {
  color: vars.$gray-500;
}

.text-gray-600 {
  color: vars.$gray-600;
}

.text-gray-700 {
  color: vars.$gray-700;
}

.text-gray-800 {
  color: vars.$gray-800;
}

.text-gray-900 {
  color: vars.$gray-900;
}

// Background colors
.bg-primary {
  background-color: vars.$primary;
}

.bg-secondary {
  background-color: vars.$secondary;
}

.bg-success {
  background-color: vars.$success;
}

.bg-warning {
  background-color: vars.$warning;
}

.bg-error {
  background-color: vars.$error;
}

.bg-info {
  background-color: vars.$info;
}

.bg-white {
  background-color: vars.$white;
}

.bg-black {
  background-color: vars.$black;
}

.bg-gray-50 {
  background-color: vars.$gray-50;
}

.bg-gray-100 {
  background-color: vars.$gray-100;
}

.bg-gray-200 {
  background-color: vars.$gray-200;
}

.bg-gray-300 {
  background-color: vars.$gray-300;
}

.bg-gray-400 {
  background-color: vars.$gray-400;
}

.bg-gray-500 {
  background-color: vars.$gray-500;
}

.bg-gray-600 {
  background-color: vars.$gray-600;
}

.bg-gray-700 {
  background-color: vars.$gray-700;
}

.bg-gray-800 {
  background-color: vars.$gray-800;
}

.bg-gray-900 {
  background-color: vars.$gray-900;
}

.bg-transparent {
  background-color: transparent;
}
