@use '../abstracts/variables' as vars;

// Margin & Padding
@each $key, $value in vars.$spacing-values {
  .m-#{$key} {
    margin: $value;
  }

  .mx-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }

  .my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }

  .mt-#{$key} {
    margin-top: $value;
  }

  .mr-#{$key} {
    margin-right: $value;
  }

  .mb-#{$key} {
    margin-bottom: $value;
  }

  .ml-#{$key} {
    margin-left: $value;
  }

  .p-#{$key} {
    padding: $value;
  }

  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }

  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }

  .pt-#{$key} {
    padding-top: $value;
  }

  .pr-#{$key} {
    padding-right: $value;
  }

  .pb-#{$key} {
    padding-bottom: $value;
  }

  .pl-#{$key} {
    padding-left: $value;
  }
}

// Margin auto
.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

// Space between children
@each $name, $value in vars.$spacing-values {
  .space-x-#{$name} > * + * {
    margin-left: $value;
  }

  .space-y-#{$name} > * + * {
    margin-top: $value;
  }
}

// Gap utilities
@each $name, $value in vars.$spacing-values {
  .gap-#{$name} {
    gap: $value;
  }

  .gap-x-#{$name} {
    column-gap: $value;
  }

  .gap-y-#{$name} {
    row-gap: $value;
  }
}
