@use '../abstracts/variables' as vars;

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  width: min(90vw, 720px);
  aspect-ratio: 1 / 1;

  border: 1px solid vars.$black;

  .square {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &.dark {
      background: #739552;
      color: vars.$white;
    }

    &.light {
      background: #ebecd0;
      color: vars.$black;
    }
  }
}
