name: Lint & Prettier Check

on:
  push:
    branches: ['develop']
  pull_request:
    branches: ['develop']

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        env:
          SARIF_ESLINT_IGNORE_SUPPRESSED: 'true'
        run: npm run lint

      - name: Run Prettier check
        run: npm run prettier
